@{
    ViewBag.Title = "Home Page";
}

@model Assignment3.Models.HomeViewModel


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="p-3 border bg-light">Students <button class="btn btn-success btn-sm" onclick="openStudentCreateModal()">Create</button></div>
            <div style="overflow-y:scroll; height:200px;">
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Birth Date
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                           Class
                        </th>
                        <th>
                            Point
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Students) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.birthdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.@class)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.point)
                        </td>
                    </tr>
}

                </table>
            </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 border bg-light">Books <button class="btn btn-success btn-sm" onclick="openBookCreateModal()">Create</button></div>
                <div style="overflow-y:scroll; height:200px;">
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Page Count
                            </th>
                            <th>
                                Point
                            </th>
                            <th>
                                Author Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Books)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pagecount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.point)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.author.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.type.name)
                                </td>
                                <td>
                                    @Model.getStatus(item.bookId)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Form will be dynamically loaded here -->
                <div id="FormContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function openStudentCreateModal() {
        $.ajax({
            url: '@Url.Action("Create", "students")/',
            type: 'GET',
            success: function (data) {
                $('#FormContainer').html(data);
                $('#Modal').modal('show');
            },
            error: function () {
                alert('Failed to load the create form.');
            }
        });
    }

    function openBookCreateModal() {
        $.ajax({
            url: '@Url.Action("Create", "books")/',
            type: 'GET',
            success: function (data) {
                $('#FormContainer').html(data);
                $('#Modal').modal('show');
            },
            error: function () {
                alert('Failed to load the create form.');
            }
        });
    }

    function closeModal() {
        $('#Modal').modal('hide');
    }
</script>