@{
    ViewBag.Title = "Maintain";
}
@model Assignment3.Models.MaintainViewModel

<div class="container">
    <div class="row">
        <!-- Authors Column -->
        <div class="col-md-6">
            <div class="p-3 border bg-light">Column 1 (Top Row)</div>
        </div>
        <!-- Types Column -->
        <div class="col-md-6">
            <div class="p-3 border bg-light">Column 2 (Top Row)</div>
        </div>
    </div>

    <div class="row">
        <!-- Borrwos Column -->
        <div class="col-md-12">
            <div class="p-3 border bg-light">Borrows</div>
            <div style="max-height: 400px; overflow-y:  scroll;">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Taken Date
                        </th>
                        <th>
                            Brought Date
                        </th>
                        <th>
                            Book Name
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Borrows)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.takenDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.broughtDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.book.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.student.name)
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm" onclick="openBorrowEditModal(@item.borrowId)">Edit</button>
                                <button class="btn btn-danger btn-sm" onclick="openBorrowDeleteModal(@item.borrowId)">Delete</button>
                            </td>
                        </tr>
                    }

                </table>
            </div>



        </div>
    </div>

    <div style="height: 400px; width:100%;">

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editBorrowModal" tabindex="-1" role="dialog" aria-labelledby="editBorrowModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBorrowModalLabel">Edit Borrow</h5>
            </div>
            <div class="modal-body">
                <!-- Form will be dynamically loaded here -->
                <div id="editBorrowFormContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeBorrowEditModal()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openBorrowEditModal(borrowId) {
        $.ajax({
            url: '@Url.Action("Edit", "borrows")/' + borrowId,
            type: 'GET',
            success: function (data) {
                $('#editBorrowFormContainer').html(data);
                $('#editBorrowModal').modal('show');
            },
            error: function () {
                alert('Failed to load the edit form.');
            }
        });
    }

    function openBorrowDeleteModal(borrowId) {
    $.ajax({
        url: '@Url.Action("Delete", "borrows")/' + borrowId,
        type: 'GET',
        success: function (data) {
            $('#editBorrowFormContainer').html(data);
            $('#editBorrowModal').modal('show');
        },
        error: function () {
            alert('Failed to load the delete form.');
        }
    });
}

    function closeBorrowEditModal() {
        $('#editBorrowModal').modal('hide');
    }
</script>
